@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  @apply bg-gray-50
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.paddings {
  @apply lg:px-20 py-6 px-5;
}

/* Navbar */
.navbar {
  @apply py-5 px-48 gap-4 text-cyan-900 w-screen;
}

/* Footer */
.footer {
  @apply py-5 px-48 text-cyan-900 w-screen;
}

.button {
  @apply border bg-cyan-500 text-white py-2 rounded-md cursor-pointer hover:bg-cyan-700
}

.card {
  @apply rounded-md p-10 w-fit h-fit
}

.card2 {
  @apply rounded-md w-full h-full
}

.input-form {
  @apply p-2 w-full border rounded-md bg-cyan-50
}

.bg {
  background-image: url('/bg.png');
  background-size:cover;
}

.section-title {
  @apply text-3xl font-bold text-sky-800 pt-20 pb-10
}

.title {
  @apply text-4xl font-extrabold text-white
}

.textTittle {
  @apply font-semibold text-sky-800 text-xl
}

.textSub {
  @apply text-gray-500 text-sm
}